@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Permanent+Marker&family=Rock+Salt&display=swap');


body {
    background-color: #ffa238;
    font-family: Happy Monkey, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #a41623;
    display: grid;
    grid-template-columns: 150px auto;
    font-family:  Permanent Marker, Geneva, Verdana, sans-serif;
}
.logo{
    width: 100px;
} 

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}i

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
   text-align: center;
   color: #ffd29d;
   text-decoration: none;
   padding: 35px;
}

nav a:hover{
    background-color: #918450;
    color:#396E94;
}

#hero {
    display: grid;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    color: #a41623;
    font-weight: bold;
    font-family: Rock Salt, Helvetica, Verdana, sans-serif;
}

main {
    text-align: center;
}

.cycling-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
 /* /*   column-gap: 2em; */
    row-gap: 2em;  
    padding-top: 15px;
    padding-bottom: 15px;
}

.cycling-img {
    border: 10px solid #a41623;
    width: 100%;
    box-shadow: 5px 5px 10px #918450; 
    grid-column: 2/6;
    grid-row:3/6;
} 

.inf {
    background-color: #918450;
    line-height: 1em;
    padding: 25px;
    grid-row: 4/5;
    grid-column: 5/10;
    box-shadow: 5px 5px 10px #f85e00;
    box-sizing: border-box; 
}

.cycling-img1 {
    border: 10px solid #a41623;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #918450; 
    grid-column: 5/10;
    grid-row: 6/10;
}  

.inf1 {
    background-color:#a5a05f;
    padding: 25px;
    grid-column: 2/7;
    grid-row: 7/8;
    box-shadow: 5px 5px 10px #f85e00;
    box-sizing: border-box;

}
.inf h2, .inf1 h2 {
    color: black;
    font: 500 100%/1.5 system-7i;
    font-weight: bold;
    font-family: Permanent Marker, Geneva, Verdana, sans-serif;  
}

.inf p, .inf1 p{
    color: #080808;
    font-size: .7em;
    padding-bottom: 15px;
} 

h2 {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 50px;
    font-family:  Permanent Marker, Geneva, Verdana, sans-serif;
} 

.image1:hover, .image2:hover, .image3:hover {
    opacity: .6;
    transform: scale(1.1);
}
/*benefits page*/
.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;  
}

  /* The Images from benefits page */
.gallery-img {
    padding: 0 5px;
    width: 100%;
    height: 35vh;
    box-shadow: 5px 5px 10px rgb(57, 110, 148); 
    box-sizing: border-box;
    border-radius: 5px;
    border: 5px solid #a41623;
    background-color: #918450;
}
.gallery-img:hover {
    transform: scale(1.1);
    transition: .6s;
}

.article{
    border: 5px solid rgb(57, 110, 148);
    transition: .25s; 
    background-color: #a69a5e;
    box-shadow: 5px 5px 10px #a41623;
}
.article p{
  color: #000000;
  font-size: .7em;
  padding-bottom: 5px;
  font-family:  Permanent Marker, Geneva, Verdana, sans-serif;
}

.paragraph{
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    font-family: Rock Salt, Helvetica, Verdana, sans-serif;
}

.paragraph img {
    max-width: 100%;
    height: auto;
    background-color: rgb(57, 110, 148);
    box-shadow: 5px 5px 10px #a41623;
    border: 5px solid #918450;
}

.row-img{
    width: 100%;
    display: grid;
    align-items: start;
    justify-content: stretch;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
} 

.row-img1, .row-img2 {
   width: 600px;
   height: 337px;
   border-radius: 50px;
   box-shadow: 0 0 0 100px inset, 0 0 5px #a41623, 0 10px rgb(57, 110, 148) inset;
   transition: box-shadow 1.5s;
}
.row-img1:hover, .row-img2:hover{
    opacity: 0;
    transition: opacity .5s;
}
/* End benefits page*/

.gallery {
    display: grid;
    grid-template-columns:10% 1fr 1fr 1fr 10%; 
    column-gap: 1em;
}

.image1{
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid rgb(57, 110, 148);
    grid-column: 2;
    box-shadow: 5px 5px 10px #a41623;
    transition: transform .5s ; 
}

.image2{
    padding: 10px;
    box-sizing: border-box;
    grid-column: 3;
    box-shadow: 5px 5px 10px #a41623;
    transition: transform .5s;
    border: 10px solid rgb(57, 110, 148);
}

.image3{
    padding: 10px;
    box-sizing: border-box;
    grid-column: 4;
    box-shadow: 5px 5px 10px #a41623;
    transition: transform .5s;
    border: 10px solid rgb(57, 110, 148);
}

.dot-lines{
    font-family: Happy Monkey, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 13pt;
    color: black;
    border-radius: 20px;
    border-top: 4px dotted #396E94;
    border-bottom: 4px dotted #396E94;
    margin: 4px auto 10px auto;
    text-align: center;
    padding: 4px 20px;
    width: 900px;
}
/* places to go page */
.places-title{
    color: #0d0d07;
    font-size: 2em;
    margin-top: 10px;
    font-size: 3.5rem;
    font-weight: 300;
    text-shadow: 0 0 1em #a41623,
     0 0 0.125em #ff9214,
     -0.25em -0.125em 0.125em #a41623,
     0.25em 0.125em 0.125em #ff9214;
 }

.article-places{
    background-color: #918450;
    border-style: groove;
    margin: 0 1.5% 20px 1.5%;
    text-align: center;
    font-family: Rock Salt, Helvetica, Verdana, sans-serif;
    padding: 8px 6px 1px 6px;  
    border-radius: 6px;  
    font-size: 12pt; 
 
}
.trails-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    align-items: start;
    justify-items: left;
    gap: 1rem;
    margin: 0 1.5%;
}

.spots img{
   max-width: 100%;
   height: auto;
   grid-column: 1 / span 1;
   grid-row: 1 / span 3;
   box-shadow: 0px 0px 10px 10px #396E94;
   border-radius: 6px;
}

.inf-trails h2{
    grid-column: 2 / span 2;
    font-family: Permanent Marker, Geneva, Verdana, sans-serif;
    font-size: 18pt;  
}

.inf-trails ul {
    grid-column: 2 / span 2;
    border: white .5px solid;
    background: black;
    color: white;
    overflow: auto;
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;   
}

.inf-trails li{
    font-family: Happy Monkey, Geneva, Tahoma, sans-serif;
    font-size: .5em;
    margin: 5px;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 0 0 0 20px;
}

.middle-img{
    background: #918450;
    border: 5px solid #a41623;
    text-align: center;
    margin: auto;
    padding:  10px;
    display: flex;
    justify-content: center;
    max-width: 800px;
    height: 300px;
}
.middle-img img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.middle{
    font-family: Rock Salt, Helvetica, Verdana, sans-serif;
    color: #000000;
    font-size: 14pt;
}

.location-img{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    justify-items: center;
    padding: 0 5px;
    box-shadow: 0px 0px 10px 10px rgb(57, 110, 148); 
    box-sizing: border-box;
    border-radius: 5px;
    border: 5px solid #a41623;
    background-color: #918450;
}

.places-image img{
    max-width: 100%;
    height: auto;
}

.places-image:hover{
    opacity: 1;
    filter: blur(2px);
}


footer{
    background-color: #a61c23;
    text-decoration: none;
    align-items: center;
    display: flex;
    grid-row-start: 7;
    grid-row-end: 3;
    padding: 1rem;
    margin-top: 100px; 
   
}

footer p{
    color: #fafafa;
    text-decoration: none;
    padding: 25px 50px;
    justify-content: space-around;
    font-family: Permanent Marker, Tahoma, Geneva, Verdana, sans-serif;
}

footer a{
    color: #f7f7f7;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    font-family: Happy Monkey, Helvetica, sans-serif;
}

footer a:hover{
    color:#918450;
}

.social-media img{
    width: 40px;
    padding-top: 15px;
    margin: 10px 12px 0 0;
    float: right;

}

@media (max-width: 900px) {
    #hero .cycling-grid .trails-grid .gallery-grid{
      display: block;
      font-size: 80%;
      height: auto;
    }

    .cycling-grid p {
      position: relative;
      margin: -3rem 0 2rem 1rem;
      padding: 1rem;  
}
    #hero {
    margin-top: 0;
}

   #hero-msg {
    margin-top: 0;
}

  #hero-msg h4 {
    display: none;
}
  .image .image1 .image2{
    margin: 50px auto;
    width: 60%;
}

  .gallery .gallery-img .article{
    width: 80%;
    display: block;
    margin: 0 auto;

}
nav, footer {
        flex-direction: column;
}
    
nav a {
        display: block;
        padding: 15px;
}
    
footer {
    margin-top: 25px;
   
}
.paragraph {
position: relative;
margin: -3rem 0 2rem 1rem;
padding: 1rem;
display: block;
font-size: 80%;

}

  }